<!DOCTYPE html>
<html>
<head>
    <title>Mega Trade Invest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/vendor/owl.carousel/dist/assets/owl.carousel.css">
    <script src="public/vendor/owl.carousel/dist/owl.carousel.js"></script>
    <script src="public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="top-header-bar">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <div class="header-social pull-right">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </div>
                                    <form method="POST" id="lang-select" name="lang-select" class="pull-right">
                                        <select>
                                            <option value="en">Engslish</option>
                                            <option value="af">Afganistan</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="/"><img src="public/images/logo.png" class="logo" alt="Megatrade Invest"></a>
                </div>
                <div class="col-xs-6 col-sm-4 text-center">
                    <a href="" class="btn btn-md btn-trading-type"><small>X</small>REAL</a>
                    <a href="" class="btn btn-md btn-trading-type"><small>X</small>DEMO</a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a href="" class="btn btn-md btn-login pull-right">Log<small>in</small></a>
                    <a href="" class="btn btn-md btn-register pull-right" style="margin-right: 15px;">Register</a>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/about-us">About us</a></li>
                        <li><a href="/platforms">Platforms</a></li>
                        <li><a href="/trading-options">Trading options</a></li>
                        <li><a href="/clients">Clients</a></li>
                        <li><a href="/open-account">Open account</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/bonuses">Bonuses</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>
    <div class="subheader-image">
        <div class="row">
            <img src="public/images/pages/about-us/subheader.jpg" class="img-responsive">
        </div>
    </div>
</div>
<div class="section-with-custom-header section-services">
    <div class="container">
        <h2>Services</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3 text-center">
                <h3>DEFERRED PAYMENT</h3>
                <p>Need to fund deposit to enter the market, but still Money has not yet
                    arrived your account, while you want to use it immediately?
                    We trust our Clients and provide you additional liquidity for 48 hours.
                </p>
                <h3>CALL CENTER</h3>
                <p>Need to open or close your order, while there is no Internet around there?
                    We accept your application, no matter where you are. Just call us.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <hr class="hr-grey">
        </div>
    </div>
</div>

<div class="section-advisor">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <img src="public/images/pages/client2/advisor.png" alt="">
            </div>
            <div class="col-sm-9 col-xs-9">
                <h2>Personal advisor</h2>
                <p>Owners of “Standard” and & “Pro” accounts with a minimum balance of $ 10,000 will be provided
                    by Mega Trade Invest with the personal advisor service.</p>
                <p>Make use of our advisor`s services and gain not less than an experienced trader.</p>
                <br>
                <p>
                    A personal advisor is ready to provide you with up-to-date information and analytical support,
                    offer recommendations and develop a strategy that suits your preferences.</p>
                <br>
                <p><strong>Get personal trading recommendations and earn!</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="section-open-demo-account">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="open-account">Open <strong>demo</strong> account</a>
                <h2><strong>Demo</strong> account</h2>
                <p>A demo account will teach you how to trade in financial markets without the risk of losing real money.</p>
                <p>Demo account does not limit you the amount of the deposit and the period of use.</p>
                <p>Try our terminals for operations and maintenance.</p>
                <p>Learn to analyze the market using technical analysis indicators.</p>
                <p>Develop and try your trading strategy before real trading.</p>
                <p>Demo account is absolutely free.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Tutorial</h2>
                <hr class="hr-grey">
                <p>This tutorial is created especially for those who want to acquire basic skills on the xStation platform.</p>
                <p>After viewing this video, you will learn how to use the basic functions of the platform and make the right choice on Providers.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-bonuses">
    <div class="container">
        <div class="section-bonuses_subsection-open">
            <div class="row">
                <div class="col-xs-12">
                    <h2></h2>
                    <h3></h3>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="section-bonuses_subsection-acc-type">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="item-acc-type acc-type-1">
                        <h4>Start</h4>
                        <h3>The minimum balance is</h3>
                        <h1>$100</h1>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="item-acc-type acc-type-2">
                        <h4>Start</h4>
                        <h3>The minimum balance is</h3>
                        <h1>$100</h1>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="item-acc-type acc-type-3">
                        <h4>Start</h4>
                        <h3>The minimum balance is</h3>
                        <h1>$100</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bonuses_subsection-bonuses">
            <h2>Bonuses</h2>
            <p>Each new Client of the Mega Trade Inves has the right to get a welcome withdrawalable bonus of ___%
                of the amount of replenishment of his account, but not more than once. The Client himself will choose
                the method, amount and currency of the account.</p>
            <p>To receive a welcome bonus, you need to undergo the verification procedure. After completing your
                verification, the bonus will be automatically credited to your trading account.</p>
            <p>The withdrawal of the bonus is possible in full only. In this case, the withdrawal of bonus is possible only
                when the Client has already done BUY / SELL transactions with a total volume of X * 15 LOT, where X is
                the amount on the Client's account at the moment of crediting of the bonus, reduced to the standard
                trading unit (LOT).</p>
        </div>
    </div>
</div>

<div class="container-fluid payment-wrapper">
    <div class="payment-inner">
        <img src="public/images/payments.jpg" class="img-responsive">
    </div>
    <!--<ul class="payment">
        <li><a href="#"><img src="public/images/payments/mastercard-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/visa-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/qiwi-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/dengi-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/ablv-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/dengi-online-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/sorexpay-logo.png"></a></li>
    </ul>-->
</div>
<div class="footer-wrapper">
    <div class="container-fluid">
        <div class="risk-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <p class="risk">Risk Warning: Our products are traded on margin and carry a high level of risk and it is possible to lose all your capital. These products may not be suitable for everyone and you should ensure that you understand the risks involved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="footer-menu-wrapper">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <ul class="footer-menu">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Platforms</a></li>
                        <li><a href="#">Trading options</a></li>
                        <li><a href="#">Clients</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-12">
                    <ul class="footer-menu">
                        <li><a href="#">Open account</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Bonuses</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-8 footer-buttons">
                    <button type="button" class="btn btn-md btn-login btn-login-white">Register</button>
                    <button type="button" class="btn btn-md btn-login btn-login-white">Log<small>in</small></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container subscriber">
            <form action="" method="POST">
                <input type="email" placeholder="Please enter your email address here">
                <button type="submit" class="footer-btn">SUBSCRIBE</button>
            </form>
            <p class="subscribe-success hidden">You have subscribed successfully.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container social">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container"></div>
    </div>
</div>
</body>
</html>
