<!DOCTYPE html>
<html>
<head>
<title>Mega Trade Invest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

<div class="main-wrapper">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 mission">
			<div class="col-md-4">
				<div class="mission-inner mission-inner-1">
					<h4>Mission and Values</h4>
					<p>We aspire to create a service that inspires change and<br/>gives customers the opportunity to attain financial freedom.</p>
					<button type="button" class="white-btn">Read<span>more</span></button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mission-inner mission-inner-2">
					<h4>Careers</h4>
					<p>Mega Trade Invest provides its employees the environment<br/>and conditions they need to grow as professionals.</p>
					<button type="button" class="white-btn">Read<span>more</span></button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mission-inner mission-inner-3">
					<h4>Events</h4>
					<p>Our presence at well-known industry’s events showcases<br/>our active role in the industry within we function.</p>
					<button type="button" class="white-btn">Read<span>more</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid payment-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="payment">
					<li><a href="#"><img src="public/images/payments/mastercard-logo.png"></a></li>
					<li><a href="#"><img src="public/images/payments/visa-logo.png"></a></li>
					<li><a href="#"><img src="public/images/payments/qiwi-logo.png"></a></li>
					<li><a href="#"><img src="public/images/payments/dengi-logo.png"></a></li>
					<li><a href="#"><img src="public/images/payments/ablv-logo.png"></a></li>
					<li><a href="#"><img src="public/images/payments/dengi-online-logo.png"></a></li>
					<li><a href="#"><img src="public/images/payments/sorexpay-logo.png"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
<div class="footer-wrapper">
<div class="container-fluid">
	<div class="container risk-wrapper">
		<div class="row">
			<div class="col-md-12">
			<p class="risk">Risk Warning: Our products are traded on margin and carry a high level of risk and it is possible to lose all your capital. These products may not be suitable for everyone and you should ensure that you understand the risks involved.</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container footer-menu-wrapper">
		<div class="row">
			<div class="col-md-3">
				<ul class="footer-menu">
					<li><a href="#">About us</a></li>
					<li><a href="#">Platforms</a></li>
					<li><a href="#">Trading options</a></li>
					<li><a href="#">Clients</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footer-menu">
					<li><a href="#">Open account</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Bonuses</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</div>
			<div class="col-md-6 footer-buttons">
			<button type="button" class="white-btn">Register</button>
			<button type="button" class="white-btn">Log<span>in</span></button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container subscriber">
		<input type="email" placeholder="Please enter your email address here">
		<button type="button" class="footer-btn">SUBSCRIBE</button>
	</div>
</div>
<div class="container-fluid">
	<div class="container social">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		<i class="fa fa-instagram" aria-hidden="true"></i>
		<i class="fa fa-youtube-play" aria-hidden="true"></i>
		<i class="fa fa-google-plus" aria-hidden="true"></i>
	</div>
</div>
<div class="container-fluid">
	<div class="container"></div>
</div>
</div>
</body>
</html>
