<!DOCTYPE html>
<html>
<head>
    <title>Mega Trade Invest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/vendor/owl.carousel/dist/assets/owl.carousel.css">
    <script src="public/vendor/owl.carousel/dist/owl.carousel.js"></script>
    <script src="public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="top-header-bar">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <div class="header-social pull-right">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </div>
                                    <form method="POST" id="lang-select" name="lang-select" class="pull-right">
                                        <select>
                                            <option value="en">Engslish</option>
                                            <option value="af">Afganistan</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="/"><img src="public/images/logo.png" class="logo" alt="Megatrade Invest"></a>
                </div>
                <div class="col-xs-6 col-sm-4 text-center">
                    <a href="" class="btn btn-md btn-trading-type"><small>X</small>REAL</a>
                    <a href="" class="btn btn-md btn-trading-type"><small>X</small>DEMO</a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a href="" class="btn btn-md btn-login pull-right">Log<small>in</small></a>
                    <a href="" class="btn btn-md btn-register pull-right" style="margin-right: 15px;">Register</a>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/about-us">About us</a></li>
                        <li><a href="/platforms">Platforms</a></li>
                        <li><a href="/trading-options">Trading options</a></li>
                        <li><a href="/clients">Clients</a></li>
                        <li><a href="/open-account">Open account</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/bonuses">Bonuses</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>
    <div class="subheader-image">
        <div class="row">
            <img src="public/images/pages/clients/subheader.jpg" class="img-responsive">
        </div>
    </div>
</div>
<div class="container-fluid payment-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="payment">
                    <li><a href="#"><img src="public/images/payments/mastercard-logo.png"></a></li>
                    <li><a href="#"><img src="public/images/payments/visa-logo.png"></a></li>
                    <li><a href="#"><img src="public/images/payments/qiwi-logo.png"></a></li>
                    <li><a href="#"><img src="public/images/payments/dengi-logo.png"></a></li>
                    <li><a href="#"><img src="public/images/payments/ablv-logo.png"></a></li>
                    <li><a href="#"><img src="public/images/payments/dengi-online-logo.png"></a></li>
                    <li><a href="#"><img src="public/images/payments/sorexpay-logo.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-wrapper">
    <div class="container-fluid">
        <div class="container risk-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <p class="risk">Risk Warning: Our products are traded on margin and carry a high level of risk and it is possible to lose all your capital. These products may not be suitable for everyone and you should ensure that you understand the risks involved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container footer-menu-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer-menu">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Platforms</a></li>
                        <li><a href="#">Trading options</a></li>
                        <li><a href="#">Clients</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-menu">
                        <li><a href="#">Open account</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Bonuses</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 footer-buttons">
                    <button type="button" class="btn btn-md btn-login btn-login-white">Register</button>
                    <button type="button" class="btn btn-md btn-login btn-login-white">Log<small>in</small></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container subscriber">
            <input type="email" placeholder="Please enter your email address here">
            <button type="button" class="footer-btn">SUBSCRIBE</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container social">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container"></div>
    </div>
</div>
</body>
</html>
