<!DOCTYPE html>
<html>
<head>
    <title>Mega Trade Invest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/vendor/owl.carousel/dist/assets/owl.carousel.css">
    <script src="public/vendor/owl.carousel/dist/owl.carousel.js"></script>
    <script src="public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="top-header-bar">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <div class="header-social pull-right">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </div>
                                    <form method="POST" id="lang-select" name="lang-select" class="pull-right">
                                        <select>
                                            <option value="en">Engslish</option>
                                            <option value="af">Afganistan</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="/"><img src="public/images/logo.png" class="logo" alt="Megatrade Invest"></a>
                </div>
                <div class="col-xs-6 col-sm-4 text-center">
                    <a href="" class="btn btn-md btn-trading-type"><small>X</small>REAL</a>
                    <a href="" class="btn btn-md btn-trading-type"><small>X</small>DEMO</a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a href="" class="btn btn-md btn-login pull-right">Log<small>in</small></a>
                    <a href="" class="btn btn-md btn-register pull-right" style="margin-right: 15px;">Register</a>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/about-us">About us</a></li>
                        <li><a href="/platforms">Platforms</a></li>
                        <li><a href="/trading-options">Trading options</a></li>
                        <li><a href="/clients">Clients</a></li>
                        <li><a href="/open-account">Open account</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/bonuses">Bonuses</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>
    <div class="subheader-image">
        <div class="row">
            <img src="public/images/pages/clients/subheader.jpg" class="img-responsive">
        </div>
    </div>
</div>

<div class="section-with-custom-header-green section-terminology">
    <h2>Terminology</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>Customer</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>Is individual or a legal entity that owns a trading account with the Company.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>The Client’s
                    trading account</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>Is Customer’s personal account with the Company.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>Margin</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>Is a security deposit, providing the opportunity to obtain a temporary use of
                    funds to settle speculative exchange transactions.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>Open order</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>Is the order of the Client to settle a speculative operation, accepted by the Company.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>A binary option</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>Is an option, which either provides a fixed amount of income, or does not bring anything,
                    depending on the fulfillment of the stipulated condition at a specified time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>Blue chips</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>Are shares or securities of the largest, liquid and reliable companies with stable indicators
                    of revenues and dividends paid.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-with-custom-header-green section-settlement">
    <h2>SETTLEMENT PROCEDURE</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 text-center">
                <img src="public/images/pages/to/1.png" alt="">
                <p>Client fund minimum primary
                    deposit within 30 calendar days
                    from the date of opening of the
                    corresponding trading account.</p>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <img src="public/images/pages/to/2.png" alt="">
                <p>Company has a right to
                    close/cancel the account with
                    balance less than 10 USD,
                    if that account had such balance
                    for more than 90 consecutive days.</p>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <img src="public/images/pages/to/3.png" alt="">
                <p>Client has a right to withdraw
                    any sum, which is not used for
                    open orders provision.</p>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
                <img src="public/images/pages/to/4.png" alt="">
                <p>Client executes withdrawal
                    application electronically due
                    to the Company`s regulations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center">
                <img src="public/images/pages/to/5.png" alt="">
                <p>On withdrawal the Company takes
                    no responsibility for funds receipt
                    on the provided requisites.
                    Security Office has a right to withhold
                    an application up to 10 days with
                    prior notification.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <img src="public/images/pages/to/6.png" alt="">
                <p>Within “Anti-money laundering policy”
                    Client has a right to withdraw funds from
                    the account only through the payment
                    instrument used for depositing.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <img src="public/images/pages/to/7.png" alt="">
                <p>It is forbidden to fund your
                    account using payment cards
                    of the third party.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-with-custom-header-green section-regulation ">
    <h2>SETTLEMENT PROCEDURE</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h4>Using online access, Client may give<br>
                        only the following trading commands:</h4>
                    <img src="public/images/pages/to/regulation.png" class="img-responsive">
                    <h5>Install (delete, change) order Stop Loss, Take Profit,<br>
                        Buy Limit, Buy Stop, Sell Limit, Sell Stop.</h5>
                    <p><small>All other commands are invalid and refused at once.</small></p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="public/images/pages/to/regulation-1.png" alt="">
                <h6>Approved command to <strong>open/close</strong><br>
                    a position <strong>cannot be cancelled</strong>,<br>
                    alternated or <strong>withdrawn</strong>.</h6>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="public/images/pages/to/regulation-2.png" alt="">
                <h6>Transaction is done by <strong>Bid/Ask</strong><br>
                    prices suggested to a Client in<br>
                    x<strong>Station</strong> Client`s window.</h6>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid payment-wrapper">
    <div class="payment-inner">
        <img src="public/images/payments.jpg" class="img-responsive">
    </div>
    <!--<ul class="payment">
        <li><a href="#"><img src="public/images/payments/mastercard-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/visa-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/qiwi-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/dengi-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/ablv-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/dengi-online-logo.png"></a></li>
        <li><a href="#"><img src="public/images/payments/sorexpay-logo.png"></a></li>
    </ul>-->
</div>
<div class="footer-wrapper">
    <div class="container-fluid">
        <div class="container risk-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <p class="risk">Risk Warning: Our products are traded on margin and carry a high level of risk and it is possible to lose all your capital. These products may not be suitable for everyone and you should ensure that you understand the risks involved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container footer-menu-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer-menu">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Platforms</a></li>
                        <li><a href="#">Trading options</a></li>
                        <li><a href="#">Clients</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer-menu">
                        <li><a href="#">Open account</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Bonuses</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 footer-buttons">
                    <button type="button" class="btn btn-md btn-login btn-login-white">Register</button>
                    <button type="button" class="btn btn-md btn-login btn-login-white">Log<small>in</small></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container subscriber">
            <input type="email" placeholder="Please enter your email address here">
            <button type="button" class="footer-btn">SUBSCRIBE</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container social">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container"></div>
    </div>
</div>
</body>
</html>
