.footer-menu {
	text-transform: uppercase;
	margin: 0;
	list-style-type: none;
}

.footer-menu li {
	line-height: 36px;
}

.white-btn {
	border-radius: 5px;
	background: none;
	border: 2px solid white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 30px;
	margin-left: 20px;
}

.white-btn span {
	font-weight: normal;
}

.footer-wrapper {
	background: url(../images/footer-bg.png);
	background-size: cover;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.footer-wrapper a {
	color: #fff;
}

.footer-wrapper a:hover {
	color: #fff;
	text-decoration: none;
}

.footer-wrapper .container-fluid {
	border-bottom: 1px solid #5c5c5c;
	padding: 20px 0;
}

.footer-buttons {
	text-align: right;
}

.risk {
	text-align: center;
	font-size: 10px;
	margin: 0;
}

.subscriber *::-webkit-input-placeholder {
    color: #fff;
}
.subscriber *:-moz-placeholder {
    /* FF 4-18 */
    color: #fff;
}
.subscriber *::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
}
.subscriber *:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.subscriber input[type=email] {
	width: 100%;
	max-width: 500px;
	border-radius: 5px;
	background: none;
	border: 2px solid white;
	padding: 10px;
}

.subscriber .footer-btn {
	border: none;
	background: #5d2d86;
	font-weight: normal;
	padding: 14px 24px;
	margin-left: 10px;
}

.subscriber {
	text-align: center;
}

.fa {
	padding: 0 10px;
}

.social {
	text-align: center;
}

.payment-methods table {
	margin: auto;
}

table td:first-child img {
	max-width: 50px;
}

table td:nth-child(2) img {
	max-width: 60px;
}

table td:nth-child(3) img {
	max-width: 90px;
}

table td:nth-child(4) img {
	max-width: 60px;
}

table td:nth-child(5) img {
	max-width: 50px;
}

table td:nth-child(6) img {
	max-width: 140px;
}

table td:last-child img {
	max-width: 155px;
}

table td {
	padding: 0 30px;
}

.payment {
	text-align: center;
	margin: 0;
}

.payment li {
	display: inline;
	padding: 0 25px;
}

.payment li img {
	max-height: 50px;
}

.payment-wrapper {
	background: #666;
	margin: 20px 0;
	padding: 40px 0;
}

.mission-inner-1 {
	background: url(../images/mission.png);
	background-size: cover;
}

.mission-inner-2 {
	background: url(../images/careers.png);
	background-size: cover;
}

.mission-inner-3 {
	background: url(../images/events.png);
	background-size: cover;
}

.mission-inner h4{
	text-transform: uppercase;
	font-weight: bold;
}

.mission-inner p {
	margin-bottom: 40px;
}

.mission-inner {
	text-align: center;
	padding: 200px 0px 100px 0px;
}

.mission {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	padding: 0 !important;
}

.mission .col-md-4 {
	padding: 0;
}

.mission .col-md-4:first-child {
	padding-right: 20px;
}

.mission .col-md-4:last-child {
	padding-left: 20px;
}

@media screen and (max-width: 991px) {
	.mission .col-md-4:first-child {
		padding-right: 0px;
	}

	.mission .col-md-4:last-child {
		padding-left: 0px;
	}

	button {
		display: block;
		margin: 20px auto !important;
	}

	.payment {
		padding: 0 !important;
	}

	.payment li {
		display: block;
		margin: 20px auto;
	}

	.footer-menu li {
		text-align: center;
	}

	.footer-menu {
		padding: 0;
	}
}