body, html {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.35;
    font-size: 16px;
    margin-bottom: 13px;
}

ul.bullet-list {
    list-style: disc;
    padding-left: 20px;
    margin: 15px 0;
}