body, html {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

p {
    line-height: 1.35;
    font-size: 16px;
    margin-bottom: 13px;
    font-weight: 400;
}

ul.bullet-list {
    list-style: disc;
    padding-left: 20px;
    margin: 15px 0;
}

h1 {
    font-size:36px;
}

h2 {
    font-size:24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

strong {
    font-weight: 700;
}

@media screen and ( max-width: 1400px) {
    p {
        font-size: 14px;
    }
}

@media screen and ( max-width: 1024px) {
    p {
        font-size: 12px;
    }
}