/* Header */

.top-header-bar {
    border-bottom: 1px solid #c1c1c1;
    padding: 10px 100px;
}

.header-middle {
    padding: 25px 100px;
}

.header-middle .logo {
    max-width: 200px;
    height: auto;
}

.header-social {
    margin: 6px 10px 0 15px;
}

/* Carousel */

.owl-carousel .item-text {
    position: absolute;
    left: 15%;
    width: 70%;
    top: 45%;
    text-align: center;
}

.owl-carousel .item-text h2 {
    color: #95d600;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;
}

.owl-carousel .item-text p {
    font-size: 16px;
    color: #fff;
    margin-bottom:50px;
    text-transform: uppercase;
    line-height:1.3;
}

/* stock exchange */

.stock-exchange-wrapper {
    padding: 25px 0 40px;
    background: #5d2d86;
}

.stock-exchange-wrapper img {
    margin-right: 20px;
    margin-bottom: -15px;
}

.stock-exchange-wrapper p {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

/* home page our mission */

.mission-inner-1 {
    background: url(../images/mission.png);
    background-size: cover;
}

.mission-inner-2 {
    background: url(../images/careers.png);
    background-size: cover;
}

.mission-inner-3 {
    background: url(../images/events.png);
    background-size: cover;
}

.mission-inner h4{
    text-transform: uppercase;
    font-weight: bold;
}

.mission-inner p {
    margin-bottom: 40px;
}

.mission-inner {
    text-align: center;
    padding: 200px 0px 100px 0px;
}

.mission {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 0 !important;
}

.mission .col-md-4 {
    padding: 0;
}

.mission .col-md-4:first-child {
    padding-right: 20px;
}

.mission .col-md-4:last-child {
    padding-left: 20px;
}

.stock-exchange-wrapper p small {
    font-weight: 400;
}

/* Stock widget */

.stock-quotations-wrapper {
    padding: 100px;
    max-width: 1400px;
    margin: 0 auto;
}

.stock-quotations-wrapper ul li {
    display: inline-block;
    width: 33%;
    margin-bottom: 10px;
}

.stock-quotations-wrapper ul li p.pair {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.stock-quotations-wrapper ul li
p.pair.pair-down {
    font-weight: 700;
    color: red;
}

.stock-quotations-wrapper ul li
p.pair.pair-up {
    font-weight: 700;
    color: #94d500;
}

/* Steps to become customer */

.steps-wrapper {
    background-color: #f9f9f9;
    padding: 125px 0;
}

.steps-wrapper-inner {
    max-width:1400px;
    margin: 0 auto;
}

.steps-wrapper-inner img {
    margin-bottom: 15px;
}

.steps-wrapper-inner p {
    text-transform: uppercase;
    font-size: 18px;
}

.steps-wrapper-inner p strong {
    display: block;
    font-weight: 700;
}

.steps-bottom {
    max-width:1350px;
    margin: 0 auto;
}

.mission-inner {
    transition: .5s all ease;
}

.mission-inner:hover {
    transform: scale(1.015);
    transition: .5s all ease;
}

@media screen and ( max-width: 1400px) {
    .owl-carousel .item-text {
        left: 15%;
        width: 70%;
        top: 45%;
    }

    .owl-carousel .item-text h2 {
        font-size: 40px;
    }

    .owl-carousel .item-text p {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .stock-quotations-wrapper {
        padding: 50px 0;
    }

    .mission-inner {
        padding: 50px 10px;
    }

    .mission-inner p {
        font-size: 14px;
    }

    .mission-inner h4 {
        font-size: 16px;
        margin-bottom:20px;
    }
}

@media screen and (max-width: 1024px) {
    .owl-carousel .item-text {
        left: 15%;
        width: 70%;
        top: 35%;
    }

    .owl-carousel .item-text h2 {
        font-size: 30px;
    }

    .owl-carousel .item-text p {
        font-size: 10px;
        margin-bottom: 20px;
    }

    .mission .col-md-4:first-child {
        padding-right: 0px;
    }

    .mission .col-md-4:last-child {
        padding-left: 0px;
    }

    .payment {
        padding: 0 !important;
    }

    .payment li {
        display: block;
        margin: 20px auto;
    }

    .footer-menu li {
        text-align: center;
    }

    .footer-menu {
        padding: 0;
    }

    .mission-inner {
        padding: 50px 10px;
    }

    .stock-quotations-wrapper ul li {
        width: 49%;
    }

    .top-header-bar {
        padding: 10px;
    }

    .header-middle {
        padding: 10px;
    }
}

@media screen and ( max-width: 768px) {
    .stock-quotations-wrapper {
        padding: 15px 0;
    }

    .stock-quotations-wrapper ul li {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    .stock-quotations-wrapper ul li p.pair {
        font-size: 14px;
    }

    .steps-wrapper {
        padding: 15px 0;
    }

    .steps-wrapper-inner img.arrow {
        width: 10px;
    }

    .steps-wrapper-inner p {
        font-size: 8px;
    }

    .owl-carousel .item-text {
        display: none;
    }

    .stock-exchange-wrapper p {
        font-size:14px;
    }

    .stock-exchange-wrapper img {
        width: 30px;
        height: auto;
        margin-bottom: 0;
    }

    .stock-exchange-wrapper {
        padding: 15px 0 5px;
    }

    .header-social {
        float: left !important;
    }

    .top-header-bar {
        padding: 10px;
    }

    .header-middle {
        padding: 10px;
    }

    .header-middle .btn-trading-type {
        padding: 5px 5px;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .header-middle .btn-login {
        padding: 5px 5px;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .header-middle .btn-register {
        padding: 5px 5px;
        font-size: 10px;
        margin-bottom: 5px;
    }
}


